name: TMAS Scan

on:
  push:

jobs:
  tmas-scan:
    name: TMAS Repo Scan
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: repo-name

      - name: Download TMAS and Scan Repo for Open Source Vulnerabilities and Secrets
        uses: trendmicro/tmas-scan-action@vX
        with:
          version: '2' # Recommended: pin to major version for automatic updates within v2.x.x
          vulnerabilitiesScan: true
          malwareScan: false
          secretsScan: true
          artifact: dir:./repo-name
          additionalArgs: --region=eu-central-1
          tmasApiKey: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJjaWQiOiIyMjQxMGY2NS01ODExLTQ0NzEtOGE3OC1hYjMyZTIxYWE2ZDIiLCJjcGlkIjoic3ZwIiwicHBpZCI6ImN1cyIsIml0IjoxNzYyMjYxMTg2LCJldCI6MTc3MDAzNzE4NSwiaWQiOiIwMzcyYjE0MC0xYWQzLTQwMDQtYTA5NC0wNTFkM2ZjMDU3ZjAiLCJ0b2tlblVzZSI6ImN1c3RvbWVyIn0.BhbWw-V1CqPUESQqs1LEeEfaQqi_fQUItL4uvY2-QJ3tvMDgxrzz8-gvSwSd_rRS8hBZ2luRDf7O4qBTGzfSjiegEx89gMOJfVXxFajSz_T3-KUl-ZzTv921YZDHvUmvaUpdov8jOmYFhyQ6iB2l_bb59ktlpSGNvMbXjd4FUfigpuIH-GiLXhzYShfdGpkHMNYslBQr18xBzbqbeRvxlLS_5dZj0SbtkhqLvJw-p_OMOwfh4oflLh2JWSO4pmDHZYfL3KGmexya449MDzUrIHMpBFEJJEJk7OID2psOQFZ6v58jCbjY7M_YpWjdKp52jNYF6iIHuItUrPx-c4hc8qlBOVmlVHIpJWtdOKXQFpTaZAIXkbiG8Wi4aG90kUEblDedUAxlZp-GqvLcvRKhi7zl0iQpdOyEBEXfLNLhBxNS2bidzi_IovnFQuL6RfITzfhzxRgOdZboR0c5GUBkPyBBw2kc_Pkd5kSuVV-SjCBayyqLaeFKylVe4U9qpPlgkyAfRyLbLVWWpS3aRItilO9bRZOqJwJIUgvR0-TsJCr1K817vEfFdFq5l58YCSXAdkECMrMpU-YPF4wNE4Kv97vShQubX0WvoYl8mTDzZ7lg7kTlNPbEdIRnSbCmojb6JepvG2WVTVxjaT5Lct1f7_Ajey73DXTWKtccbToTgcY
          githubToken: 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
